*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f4f4f4;
}
h2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
}
h2 a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 10px;
    background-color: darkblue;
    border-radius: 5px;
    font-weight: bold;
}
h2 a:hover {
    color: #fff;
    background-color: rgb(0, 102, 255);
    transform: scale(1.05);
}