
.slider {
    width: 100%;
    overflow: hidden;
}
.slides {
    display: flex;
    width: 500%;
    animation: slide 12s infinite;
}
.slides img {
    width: 20%;
    height: 250px;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 5px;
    flex-shrink: 5;
}
@keyframes slide {
  0%   { margin-left: 0; }
  25%  { margin-left: -100%; }
  50%  { margin-left: -200%; }
  75%  { margin-left: -300%; }
  100% { margin-left: -400%; }
  150% { margin-left: 0; }
}